/* 
Farben
Beige: #fef7ea
rot: #ed322d
anthrazit: #201d14
*/
/*
.body {
    margin: 0;
}
*/
.container {
    background: #fef7ea;
    font-family: Arial, sans-serif;
    font-weight: bold;
    max-width: 640px;
    height: 794px;
    margin: 0 auto;
    padding-top: 10px;
    color: #201d14;
    /*background: url(img/the-new-typography.jpg);
    background-size: cover;*/
    /* lösche letzte 2 Zeilen */
}

.inner {
    text-transform: uppercase;
    transform: rotate(-16.81deg);
   /* width: 100%;
    height: 100%;*/
}


/* ---------------- */
/* ---- Titel ----- */
/* ---------------- */

.bigT {
    /* float:left; */
    position: absolute;
    left: 20px;
    font-size: 879px;
    font-weight: 900;
    color: #ed322d;
    margin-top: -304px;
    top: -100%;
    padding-top: 28px;
    height: 100%;
    margin-left: 53px;
    z-index: -1;
}
/*
.bigT p {
    z-index: 2;
}*/

.bigSize {
    margin-left: 93px;
    margin-top: -20px;
    /* z-index: 3; */
}

.bigSize .artikel {
    font-size: 65px;
    /* font-weight: bold; */
    margin: 0;
    padding-left: 8px;
}

.bigSize .adj {
    font-size: 105px;
    /* font-weight: bold; */
    margin: 0;
    margin-top: -27px;
    margin-left: 4px;
}

.bigSize .tText {
    font-size: 70px;
    color: #fef7ea;
    /* font-weight: bold; */
    margin-top: -20px;
    padding-left: 11px;
    letter-spacing: -1.2px;
}


/* ----------------- */
/* -- Text rechts -- */
/* ----------------- */

.smallSize {
    float: right;
    margin-right: 45px;
    margin-top: -56px;
    letter-spacing: -1px;
    /* z-index: 4; */
}

.smallSize .name {
    /* font-weight: bold; */
    font-size: 22px;
}

.smallSize .title {
    font-size: 8px;
    text-transform: none;
    font-size: 12px;
    /* font-weight: bold; */
    margin-top: -18px;
    letter-spacing: -0.3px;
}

.smallSize .years {
    font-size: 40px;
    /* font-weight: bold; */
    margin-top: -10px;
    margin-left: -3px;
    letter-spacing: 0;
}


/* ------------------ */
/* --- black bars --- */
/* ------------------ */

.blackBar {
    margin-left: 
}

.blackBar .bar1, 
.blackBar .bar2 {
    background: #201d14;
    color: #fef7ea;
}

.blackBar .bar1 {
    font-size: 41px;
    letter-spacing: 6px;
    font-weight: bolder;
    margin-left: -84px;
    margin-top: 235px;
    /* opacity: 0.5; */
    z-index: 3;
}

.blackBar .bar1 p {
    padding: 10px 47px;
}

.blackBar .bar2 {
    font-size: 33px;
    margin-left: -110px;
    margin-top: -6px;
    /* opacity: 0.5; */
    letter-spacing: 1px;
    position: relative;
    z-index: -2;
}

.blackBar .bar2 p {
    padding: 14px 53px;
}



