body {
    background: #000;
    color: #fff;
    font-family: 'Quicksand',Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.bigSize {
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 100px;
    background:red;
}

.interpret2 {
    font-family: 'Stick', sans-serif;
}

.interpret2 .bigSize {
    font-family: 'DotGothic16', sans-serif;
    text-transform: uppercase;
    background-color: green;
    padding: 0 20px;
}

.interpret3 {
    font-family: 'Akaya Kanadaka', cursive;
}

.interpret3 .bigSize {
    font-family: 'Stick', sans-serif;
}

.inlineC {
    display: inline;
}